body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* in src/index.css */
html { scroll-behavior: smooth; }
html, body, #root { height: 100%; }       /* let the root fill the viewport */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Make any empty space below the footer match the footer color */
html, body { background: #0A0F2C; }
